html, body, .main { height: 100vh; width: 100vm; margin: 0 auto;font-family: 'Mali', cursive;overflow:hidden;
}

.title{
	height:20vh;
	font-size:10vh;
	padding-bottom:5vh;
	text-align: center;
}
.description{
	float:left;
	width:60vw;
}
.game{
	float:left;
	margin-left:25%;
	width:50vw;
	height:80vh;
}
.place{
	float:left;
	width:15vw;
	height:20vh;
	text-align:center;
	border:1px solid  black;
}
.image{
	width:100%;
	height:100%;	
}
@media (orientation: portrait) {
	.game{
		margin-left:10%;
		width:80%;
		height:50%;
	}
	.place{
		width:32%;
	}
}